# Repo private ve lisanssiz (plan: "Lisans: Yok / private"), bu yuzden cpplint'in
# legal/copyright kurali her dosyayi hatali isaretliyor. Yalnizca o kural kapali;
# cpplint'in geri kalani (header guard, include sirasi, satir uzunlugu vb.) aktif.
filter=-legal/copyright
